name: Build Debug
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        
      - name: Fix gradlew
        run: |
          sed -i 's/\r$//' gradlew
          chmod +x gradlew
        
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
        
      - name: Setup Android
        uses: android-actions/setup-android@v3
        
      - name: Build Play Debug APK
        run: |
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          echo "ndk.dir=${ANDROID_NDK_HOME}" >> local.properties
          ./gradlew assemblePlayDebug
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-play-debug
          path: app/build/outputs/apk/play/debug/
