name: Simple Build
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        run: sudo apt-get install -y openjdk-17-jdk
      
      - name: Build with gradle
        run: |
          chmod +x gradlew
          ./gradlew assembleDebug
      
      - uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk
