name: Build Debug

on:
  push:
  workflow_dispatch:

jobs:
  libcore:
    name: Build LibCore
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix line endings (CRLF -> LF)
        run: |
          sudo apt-get update
          sudo apt-get install -y dos2unix
          dos2unix run
          dos2unix buildScript/**/*.sh || true
          dos2unix libcore/*.sh || true
          chmod +x run

      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status

      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status

      - name: LibCore Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: app/libs/libcore.aar
          key: libcore-${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}

      - name: Setup Go
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25

      - name: Build libcore
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./run lib core
          ls -lh app/libs/libcore.aar


  build:
    name: Build Play Debug APK
    runs-on: ubuntu-latest
    needs: libcore

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fix line endings (CRLF -> LF)
        run: |
          sudo apt-get update
          sudo apt-get install -y dos2unix
          dos2unix run
          dos2unix buildScript/**/*.sh || true
          dos2unix libcore/*.sh || true
          chmod +x run

      - name: Restore LibCore Cache
        uses: actions/cache@v4
        with:
          path: app/libs/libcore.aar
          key: libcore-${{ hashFiles('.github/workflows/*') }}

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build APK
        run: |
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          echo "ndk.dir=${ANDROID_HOME}/ndk/25.0.8775105" >> local.properties
          ./gradlew assemblePlayDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-play-debug
          path: app/build/outputs/apk/play/debug/
