name: Test Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'
          
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Build libcore
        run: |
          chmod +x run
          ./run lib core
          
      - name: Build APK
        run: |
          ./gradlew assembleDebug
          
      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: apks
          path: app/build/outputs/apk/
