name: Release Build
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Release Tag"
        required: true
      publish:
        description: "Publish to GitHub? (y/n)"
        required: false
        default: "y"

jobs:
  libcore:
    name: Native Build (LibCore)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status
      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status
      - name: LibCore Cache
        id: cache
        uses: actions/cache@v4
        with:
          path: app/libs/libcore.aar
          key: worda-${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}
      - name: Install Golang
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/setup-go@v5
        with:
          go-version: ^1.25
      - name: Native Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: ./run lib core

  build:
    name: Build APK
    runs-on: ubuntu-latest
    needs: libcore
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Golang Status
        run: find buildScript libcore/*.sh | xargs cat | sha1sum > golang_status
      - name: Libcore Status
        run: git ls-files libcore | xargs cat | sha1sum > libcore_status
      - name: LibCore Cache
        uses: actions/cache@v4
        with:
          path: app/libs/libcore.aar
          key: worda-${{ hashFiles('.github/workflows/*', 'golang_status', 'libcore_status') }}
      - name: Gradle cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle
          key: worda-gradle-${{ hashFiles('**/*.gradle.kts') }}
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Build APK
        run: |
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          echo "ndk.dir=${ANDROID_HOME}/ndk/25.0.8775105" >> local.properties
          ./gradlew app:assembleRelease
          APK_PATH=$(find app/build/outputs/apk -name '*release*.apk' | head -1)
          echo "APK_PATH=${APK_PATH}" >> $GITHUB_ENV
          echo "APK_NAME=$(basename ${APK_PATH})" >> $GITHUB_ENV
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WorDa-APK
          path: ${{ env.APK_PATH }}

  publish:
    name: Publish Release
    if: github.event.inputs.publish == 'y'
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: write
    steps:
      - name: Download APK Artifact
        uses: actions/download-artifact@v4
        with:
          name: WorDa-APK
      - name: Rename APK with Tag
        run: |
          mv *.apk "WorDa-${{ github.event.inputs.tag }}.apk"
      - name: Create Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GHP_KEY }}
        with:
          tag_name: ${{ github.event.inputs.tag }}
          name: WorDa ${{ github.event.inputs.tag }}
          files: |
            *.apk
          generate_release_notes: true